.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: transform 1000ms;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 100%;
    width: 70rem;
}

figure {
    margin: 0;
    position: relative;
    overflow: hidden;
}

#gallery figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#gallery figure:hover img {
    opacity: .5;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 8px 0;
}

.pagination li {
    display: inline;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
}

.pagination a.active {
    background-color: rgb(51, 0, 102);
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {background-color: #ddd; color: black;}

.pagination a {
    border-radius: 5px;
}

.pagination a.active {
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 90vh;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}